
.todoapp h1 {

    font-family: serif;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
   
}
button {
  visibility: hidden;
}
.view:hover button.destroy{
    visibility: visible;
}


.destroy{
        width: 30px;
    height: 30px;
}

.new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
        box-shadow: inset 0 -2px 1px rgba(0,23,2,0.4);
    margin-left: 32%;
    width: 33%;
}

label{
        color: #3e3838;
}

.todo-list li.completed label {
    color:  #cab3b3;
    text-decoration: line-through;
}
.todo-list li label {
    word-break: break-all;
}
.view{
        width: 33%;
    margin-left: 33%;   
}
.main {
    position: relative;
    z-index: 2;
    border-top: 0px solid #e6e6e6;
}

.cross{
    font-size: xx-large;
}

  li {
                box-sizing: border-box;
                padding: 0 15px;
                height: 40px;
                cursor: pointer;
                outline: none;
                box-shadow: none;
                border: none;
                line-height: 40px;
                display: block;
  }
.destroy{
        line-height: 30px !important;
                top: -37px;
            left: 410px;

}
.footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    width: 38%;
    margin-left: 32%;
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}



